body {
    background-color: rgb(255, 254, 181);
}
header {
    background-color: rgb(255, 147, 47);
}
code {
    background-color: #eee;
    border-radius: 3px;
    font-family: monospace;
    padding: 0 3px;
}
a {
    transition: .2s all;
}
a:hover {
    font-size: 1.5rem;
    font-weight: bold;
    
}
header {
  font-weight: bold;
  font-size: 20px;
}
#nav-bar {
  display: flex;
  flex-direction: column;
  
}
nav {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
nav a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
main {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
@media screen and (max-width: 700px) {
  nav {
    width: 100%;
    height: auto;
    position: relative;
  }
  nav a {float: left;}
  
}
@media screen and (max-width: 400px) {
  nav a {
    text-align: center;
    float: none;
  }
}
